@model Product

<div class="class shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">Nový Měřák</h2>
        </div>
    </div>
</div>

<div class="card-body my-4">
    <form method="post" class="row">
        <div class="border pb-3">
            @*<div asp-validation-summary="ModelOnly"></div>*@
            <div class="form-floating py-2 col-12">
                <input asp-for="NameOfProduct" class="form-control border-0 shadow">
                <label asp-for="NameOfProduct" class="ms-2"></label>
                <span asp-validation-for="NameOfProduct" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="DisplayProductNr" class="form-control border-0 shadow">
                <label asp-for="DisplayProductNr" class="ms-2"></label>
                <span asp-validation-for="DisplayProductNr" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select border-0 shadow">
                    <option disabled selected>Vyber kategorii měřidla</option>
                </select>
                <label asp-for="CategoryId" class="ms-2"></label>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <select asp-for="KindOfProductId" asp-items="ViewBag.KindOfProductList" class="form-select border-0 shadow">
                    <option disabled selected>Vyber typ měřidla</option>
                </select>
                <label asp-for="KindOfProductId" class="ms-2"></label>
                <span asp-validation-for="KindOfProductId" class="text-danger"></span>
            </div>
        <div class="form-floating py-2 col-12">
                <textarea asp-for="Description" class="form-control border-0 shadow"></textarea>
                <label asp-for="Description" class="ms-2"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row pt-2 text-center">
                <div class="col-6 col-mb-3">
                    <button type="submit" class="btn btn btn-primary form-control" style="width: 50%">Vytvoř Měřák</button>
                </div>
                <div class="col-6 col-mb-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-info form-control" style="width: 50%">Zpět</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    @{
        <partial name = "_ValidationScriptsPartial"/>;
    }
}